<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${dato_nombre} + '!'" />
    <p th:text="'Hello, ' + ${dato_pass} + '!'" />
    <p th:text="'Hello, ' + ${dato_email} + '!'" />
    <p th:text=" ${dato_mensaje} + '!'" />
    
    
</body>
</html>